<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
        <h2>Initiate New Course</h2>
        <form id="courseFormSubmit" action="/course/initiation" method="post">
            <label for="courseTitle">Course Title:</label>
            <input type="text" id="courseTitle" name="course_title"><br><br>

            <label for="courseDescription">Course Description:</label><br>
            <textarea id="courseDescription" name="course_description"></textarea><br><br>

            <input type="submit" value="Submit">
        </form>
    
</body>

</html>